<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <title>Запросы</title>
</head>
<body>
<div class="container mt-5">
    <h1>История запросов</h1>
    {% for el in animals %}
    <div class="alert alert-info">
        <h2>{{ el.animal_type }}</h2>
        <p>{{ el.processed_image }}</p>
        <p><b>Дата: {{ el.date.date() }}</b></p>
        <a href="history/static/{{ el.processed_image }}" class="btn btn-warning">Посмотреть картинку</a>
    </div>   
    {% endfor %}
</div>
</body>
</html>